@page
@model IndexModel
@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FruitAss</h1>
    <p><a href="https://localhost:7200/Produits/Index">Ici</a>Vous pouvez accéder aux produits</</p>
</div>
